body {
    background-color: #F1DBA9;

    font-family: 'Martel';

    text-align: justify;

    margin-left: 15%;
    margin-right: 15%;
}

p {
    text-indent: 1em;

    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;

    line-height: 1.5;

    margin-top: .5em;
    margin-bottom: .5em;
}

img {
    filter: sepia(100%);
}

.caption {
    font-style: italic;

    text-align: center;

    margin-bottom: 1em;
}

.figure {
    margin: auto;

    text-align: center;

    width: 75%;
}